@font-face {
  font-family: 'Apercu-Medium';
  src: url('fonts/Apercu-Medium_latin+latin-ext_gdi.eot');
  src: url('fonts/Apercu-Medium_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'), url('fonts/Apercu-Medium_latin+latin-ext_gdi.woff') format('woff'), url('fonts/Apercu-Medium_latin+latin-ext_gdi.ttf') format('truetype'), url('fonts/Apercu-Medium_latin+latin-ext_gdi.svg#Apercu-Medium') format('svg');
  font-style: normal;
  font-stretch: normal;
  unicode-range: U20 -20AC; }

@font-face {
  font-family: 'Apercu-Bold';
  src: url('fonts/Apercu-Bold_latin+latin-ext_gdi.eot');
  src: url('fonts/Apercu-Bold_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'), url('fonts/Apercu-Bold_latin+latin-ext_gdi.woff') format('woff'), url('fonts/Apercu-Bold_latin+latin-ext_gdi.ttf') format('truetype'), url('fonts/Apercu-Bold_latin+latin-ext_gdi.svg#Apercu-Bold') format('svg');
  font-style: normal;
  font-stretch: normal;
  unicode-range: U20 -20AC; }

@font-face {
  font-family: 'Apercu-Regular';
  src: url('fonts/Apercu-Regular_latin+latin-ext_gdi.eot');
  src: url('fonts/Apercu-Regular_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'), url('fonts/Apercu-Regular_latin+latin-ext_gdi.woff') format('woff'), url('fonts/Apercu-Regular_latin+latin-ext_gdi.ttf') format('truetype'), url('fonts/Apercu-Regular_latin+latin-ext_gdi.svg#Apercu-Regular') format('svg');
  font-style: normal;
  font-stretch: normal;
  unicode-range: U20 -20AC; }

